subnet 10.90.15.0 netmask 255.255.255.0 {
        interface ens192;
        option routers                         10.90.15.1;
        authoritative;
        default-lease-time                     300;
        max-lease-time                         300;
        range                                  10.90.15.64 10.90.15.128;
        option domain-name-servers             10.90.15.3, 10.90.15.2;
        option domain-name                     "nfpc.lan";
        option ms-classless-static-routes      23, 10,16,30, 10,90,15,14, 23, 10,251,212, 10,90,15,14;       # Выдача дополнительных маршрутов для windows
        option rfc3442-classless-static-routes 23, 10,16,30, 10,90,15,14, 23, 10,251,212, 10,90,15,14;       # Выдача дополнительных маршрутов для всех остальных

}

zone 15.90.10.in-addr.arpa. {
        primary 127.0.0.1;
        key ddns-key;
}
